<!-- As a link -->
<header>
  <nav class="navbar navbar-light bg-light justify-content-between">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">家庭記帳本</a>
      {{#if isAuthenticated}}
        <a class="btn btn-outline-secondary" href="/users/logout">登出</a>
      {{/if}}
    </div>
  </nav>
</header>
