<div class="container mt-3">
  <div class="col-6 mx-auto py-5">
    <div class="card">
      <div class="card-body">
        <form action="/tracker/new" method="POST">
          {{> form}}
        </form>
      </div>
    </div>
  </div>
</div>
